{{/*
  TODO: Currently works for a /uploads directory. Generalise it!
  Note when generalising that only relative sources should be shimmed.
  ...which probably means that the src should start with a /
*/}}

{{ $images := .content | findRE "![[].*?[]][(]/uploads/.+?(?: \".*?\")?[)]" | uniq }}

{{ .context.Scratch.Set "content" .content }}

{{ range $images }}
  {{ $image := . | replaceRE "![[].*?[]][(]/uploads/(.+?)(?: \".*?\")?[)]" "$1" }}
  {{ $alt := . | replaceRE "![[](.*?)[]][(]/uploads/.+?(?: \".*?\")?[)]" "$1" }}
  {{ $title := . | replaceRE "![[].*?[]][(]/uploads/.+?(?: \"(.*?)\")?[)]" "$1" | strings.TrimPrefix . }}
  {{ $regex := printf "![[].*?[]][(]/uploads/%s(?: \".*?\")?[)]" $image }}
  {{ $.context.Scratch.Set "content" ($.context.Scratch.Get "content" | replaceRE $regex (partial "image-processing/imgproc.html" (dict "context" ($.context.Site.GetPage "uploads") "src" $image "alt" $alt "title" $title))) }}
{{ end }}

{{ .context.Scratch.Get "content" }}
