{{/*
  TODO: img sizes attribute at 100vw is inadequate, but subject to change per theme.
  I suggest a config option configurable per theme. The consequence of this is that
  themes are no longer agnostic to the existence of this extension.
  NOTE: Do set a default in image-processing's own config so that it remains compatible
  with external themes.
*/}}

{{ $context := .context }}

{{ $src := .src }}
{{ $alt := .alt }}
{{ $title := .title }}
{{ $caption := .caption }}
{{ $width := .width }}
{{ $height := .height }}

{{ $pathArr := split $src "." }}
{{ $pathLen := len $pathArr }}
{{ $ext := index $pathArr (sub $pathLen 1) }}

{{ if eq $ext "svg" -}}
  <img
    src="{{ printf "/%s%s" $context.Dir $src }}"
    {{- if or ($alt) ($caption) }}
      alt="{{ with $alt }}{{ . }}{{ else }}{{ $caption | markdownify| plainify }}{{ end }}"
    {{- end -}}
    {{- with $width }} width="{{ . }}"{{ end -}}
    {{- with $height }} height="{{ . }}"{{ end -}}
    {{- with $title }} title="{{ . }}"{{ end -}}/>
{{ else -}}
  {{ with $context.Resources.GetMatch $src -}}
    <img
      srcset="
        {{ (.Resize "320x").RelPermalink }} 320w,
        {{ (.Resize "640x").RelPermalink }} 640w,
        {{ (.Resize "768x").RelPermalink }} 768w,
        {{ (.Resize "1024x").RelPermalink }} 1024w,
        {{ (.Resize "1366x").RelPermalink }} 1366w,
        {{ (.Resize "1600x").RelPermalink }} 1600w,
        {{ (.Resize "1920x").RelPermalink }} 1920w"
      sizes="100vw"
      src="{{ (.Resize "1600x").RelPermalink }}"
      {{- if or ($alt) ($caption) }}
        alt="{{ with $alt }}{{ . }}{{ else }}{{ $caption | markdownify| plainify }}{{ end }}"
      {{- end -}}
      {{- with $width }} width="{{ . }}"{{ end -}}
      {{- with $height }} height="{{ . }}"{{ end -}}
      {{- with $title }} title="{{ . }}"{{ end -}}/>
  {{ else }}
    {{ errorf "could not find image %q" $src }}
  {{ end }}
{{ end }}
