<section>
  {{ if $.Site.Data.config.imageProcessing.contentShim }}
    {{ range $.Site.Data.private }}
      {{ $.Scratch.Add "shims" .shims }}
    {{ end }}

    {{ $shims := uniq ($.Scratch.Get "shims") }}

    {{ .Scratch.Set "content" .RawContent }}

    {{ range $shims }}
      {{ $.Scratch.Set "content" (partial . (dict "context" $.Page "content" ($.Scratch.Get "content")) | htmlUnescape) }}
    {{ end }}

    {{ .Scratch.Get "content" | markdownify }}
  {{ else }}
    {{ .Content }}
  {{ end }}
</section>
