<section>
  {{ if $.Site.Data.config.imageProcessing.contentShim }}
    {{ range $.Site.Data.private }}
      {{ $.Scratch.Add "shims" .shims }}
    {{ end }}

    {{ $shims := uniq ($.Scratch.Get "shims") }}

    {{ .Scratch.Set "content" .RawContent }}

    {{ range $shims }}
      {{ $.Scratch.Set "content" (partial . (dict "context" $.Page "content" ($.Scratch.Get "content")) | htmlUnescape) }}
    {{ end }}

    {{ if in (slice "md" "markdown" "mdown" "mmark") .File.Ext }}
      {{ .Scratch.Get "content" | markdownify }}
    {{ else }}
      {{ if in (slice "html" "htm") .context.File.Ext }}
        {{ .Scratch.Get "content" | safeHTML }}
      {{ else }}
        {{/* TODO: Any other content types we should check? */}}
        {{ .Scratch.Get "content" }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ .Content }}
  {{ end }}
</section>
